#crystals1 {
    z-index: -99;
    position:absolute;
    width:480px;
    height:100%;
    background:transparent;
}
#crystals2 {
    z-index: -99;
    position:absolute;
    top:0;
    left:55%;
    width:480px;
    height:100%;
    background:transparent;
}
.crystal_01 {
    z-index: -99;
    position: absolute;
    width:100%;
    height:100%;
    background:url("static/img/particle1.png")repeat-y;
}
.crystal_02 {
    z-index: -99;
    position:absolute;
    width:100%;
    height:100%;
    background:url("static/img/particle2.png")repeat-y;
}
.crystal_03 {
    z-index: -99;
    position:absolute;
    width:100%;
    height:100%;
    left:50%;
    margin-left:-180px;
    background:url("static/img/particle3.png")repeat-y;
}